<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
-->
        
<web-app>
  <display-name>Calculator</display-name>
  <description>Calculator Application</description>

  <context-param>
    <param-name>Parameter 1</param-name>
    <param-value>one</param-value>
  </context-param>
  <context-param>
    <param-name>Parameter 2</param-name>
    <param-value>two</param-value>
  </context-param>

  <listener>
    <listener-class>com.applino.example.Calculator</listener-class>
  </listener>

</web-app>
        